In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# a) Read the data with pandas and describe the data
df = pd.read_csv('housing.csv')
print(df.describe())

# b) Find data type and shape of each column
print(df.dtypes)
print(df.shape)

# c) Find the null values (if yes fill the null values with '0' or mean of that column)
if df.isnull().values.any():
    df = df.fillna(df.mean())

# d) Find features and target variables
# Assuming the target variable is the last column
features = df.iloc[:, :-1]
target = df.iloc[:, -1]

# e) Split the data into train and test.
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# f) Normalize the data with min-max scaling
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Display the first few entries of the scaled features
print(pd.DataFrame(X_train_scaled, columns=features.columns).head())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
(20640, 10)
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.729084  0.017021            0.627451     0.079455        0.097145
1   0.616534  0.129787            0.941176     0.085966        0.121974
2   0.385458  0.224468            0.058824     0.048197        0.051210
3   0.721116  0.014894            0.686275     0.036090        0.056797
4   0.453187  0.450000            0.823529     0.060532        0.066729

   population  households  median_income  median_house_value
0    0.064380    0.102286       0.190322            0.181445
1    0.036744    0.124157       0.228452            0.756906
2    0.025561    0.055090       0.252162            0.324949
3    0.039659    0.058214       0.099488            0.161651
4    0.024412    0.062325       0.210638            0.168043

<ipython-input-3-ed9101b7be33>:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())